{% extends "layout.html" %}

{% block foo %}
<form method="POST">
<legend>Vacancy</legend>
<input type='text' name='name' class='span6' placeholder='Type the position here'/><br/>
<textarea rows='3' type='text' name='responsibilities' class='span6' placeholder='Describe the responsibilities here'></textarea><br/>
<textarea rows='3' type='text' name='description' class='span6' placeholder='Give job description here'></textarea><br/>
<input type='text' name='experience' class='span6' placeholder='Enter minimum years of experience required'/><br/>
<input type='text' name='education' class='span6' placeholder='Enter the required education here'/><br/>
<input type='text' name='location' class='span6' placeholder='Enter the locations here'/><br/>
<input type='text' name='department' class='span6' placeholder='Enter the industry of job'/><br/>
<button type='submit' class="btn btn-success">Submit</button>

</form>

{% endblock %}

