{% extends "layout.html" %}

{% block foo %}
<div class='hero-unit'>
<h3>Job Description</h3>
<hr>
<p>
<ul>
<li>Responsible for work quality/accuracy and timely product execution</li>
<li>Should upgrade domain knowledge through various tools provided / available within the process</li>
<li>Provide timely response to all internal / client queries</li>
<li>Should meet or exceed internal domain assessment thresholds</li>
<li>Should be able to deliver within the stipulated timelines</li>
</ul>

<dl class="dl-horizontal">
<dt>Salary:</dt>
<dd>Not Disclosed by Recruiter</dd>
<dt>Industry:</dt>
<dd>KPO, Research, Analytics</dd>
<dt>Functional Area:
</dt><dd>ITES, BPO, KPO, LPO, Customer Service, Operations</dd>
<dt>Role Category:</dt>
<dd>Back Office/ Web/ Transaction Processing</dd>
<dt>Role:</dt>
<dd>Associate/ Senior Associate -(NonTechnical)</dd>
</dl>
<br>
<h3>Desired candidate profile</h3>
<hr>
<dl class="dl-horizontal">
<dt>Education:</dt>
<dd>(UG - B.Sc - Any Specialization, Bio-Chemistry, Biology, Botany, Chemistry, Computers, Maths, Microbiology, Physics, Statistics, Zoology, Other Specialization, B.Com - Commerce, Any Graduate - Any Specialization, B.A - Any Specialization, Arts&Humanities, Communication, Economics, English, History, Journalism, Maths, Sociology, Statistics, Other Specialization, B.B.A - Management, BCA - Computers, Other Graduate - Any Specialization) OR (PG - Post Graduation Not Required)</dd>
<ul>
<li>10, +2, +3 years of full time education in Arts, Commerce or Science stream (except BE, MBA, MCA) 2011/2012 pass outs</li>
<li>Should have Numerical ability, Analytical skills</li>
<li>Verbal and written communication skills along with good comprehension</li>
<li>Should be flexible to work in any shifts</li>
<br>
<a href="{{ url_for('application')}}" class='btn btn-primary'>Apply</a>
</div>
{% endblock %}

